<%- include ('../partials/header') %>


<div class="container-lg">
    <div class="row justify-content-md-center">
        <div class="col col-lg-3">
            <h3>Yelp Camp</h3>
            <ul class="list-group">
                <li class="list-group-item active">Category 1</li>
                <li class="list-group-item">Category 2</li>
                <li class="list-group-item">Category 3</li>
                <li class="list-group-item">Category 4</li>
            </ul>
        </div>
        <div class="col-sm-auto col-lg-9">
            <div class="card mb-3">
                <img src="<%= campground.image %>" class="card-img-top" alt="a camp image">
                <div class="card-body">
                    <div class="row"><div class="col"><h5 style="display: inline;" class=""><%= campground.name %></h5></div><div class="col"><h5 class="text-end">$10.98</h5></div></div>
                    <div><p><%= campground.description %></p></div>
                    <div><em><p>Submitted By <%= campground.author.username %> </p></em></div>

                    <% if(user && campground.author.id.equals(user._id) ){ %>
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>                    
                    <% } %>

                </div>
            </div>
            <div class="container-lg mt-3 p-3 bg-light">
                <div class="text-end">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success btn-small">Leave a review</a>
                </div>
                <hr>

                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-end">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>

                            <% if(user && comment.author.id.equals(user._id) ){ %>
                            <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-xs btn-warning">Edit</a>
                            <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                                <input type="submit" value="Delete" class="btn btn-xs btn-danger">
                            </form>
                            <%} %>

                        </div>
                    </div>
                <% }) %>


                
                <!-- <div class="mt-5">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-12">
                            <div class="card v p-3">
                                <div><img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"></div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="row user d-flex flex-row align-items-center">
                                        <div class="col-md-10">
                                            <span>
                                                <small class="fw-bold text-primary ps-2">
                                                    john
                                                </small> 
                                                <small class="fw-bold">Hmm, This poster looks cool Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis beatae laudantium nam corrupti incidunt quas omnis consequuntur voluptates animi doloremque adipisci eligendi dolor eius delectus iste, dignissimos expedita vitae placeat.</small>
                                            </span>
                                        </div>
                                        <div class="col-md-2 text-end"><small>2 days ago</small></div>
                                    </div>
                                </div>
                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                    <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                                </div>
                            </div>
                            
                            
                            <div class="card v p-3 mt-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/ZSkeqnd.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="fw-bold text-primary px-2">simona_rnasi</small> <small class="fw-bold text-primary">@macky_lones</small> <small class="fw-bold text-primary">@rashida_jones</small> <small class="font-weight-bold">Thanks </small></span> </div> <small>3 days ago</small>
                                </div>
                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                    <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates harum, cum, repellat inventore adipisci libero esse, asperiores accusamus ut at provident alias reiciendis distinctio. Iure dolorum quod laboriosam aspernatur vel.</div>
        <div class="col">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur nostrum excepturi perferendis nobis in explicabo aut animi officia, nemo et vitae odit cumque adipisci molestiae repudiandae ipsam. Animi, tempore exercitationem?</div>
    </div> -->
</div>


<%- include ('../partials/footer') %>